.card {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.card > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.expensive {
    background-color: #e74c3c;
}
